@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div id="title" class="d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column h-50 col-md-8 justify-content-center align-items-center border border-white"
             
             >
            <div class="text-center text-capitalize">
                <h1 class="text-white" style="font-size: 48px">Test Ok</h1>
            </div>
            <div>
                <h5 class="text-white-50 pt-4">
                    Testing for Students by Students
                </h5>
            </div>
        </div>
    </div>
    <div class="text-center shadow bg-white rounded p-5 mt-5 mb-5 border border-primary">

        <h2 class="pt-5">
        What is Test Ok?
        </h2>
        <h4 class="p-5 text-left">
            Test Ok is a brand new testing resource. Its main goal is to assist lecturers and
            students of universities the during process of gaining knowledge and achieving new academic heights.
            It can help tutors to test their students and to evalate their achievements as fair as possible.
            Students may use all the tests available to challenge themselves in order to be preparewd for
            any unexpected situations they may have while studing any subject.
        </h4>

    </div>
    <div class="mt-5 text-center">
        <h2>Main features</h2>
    </div>
    <div id="features" class="container-fluid p-5 shadow-sm p-3 mb-5 bg-white rounded d-flex flex-column">
        <div class="h-25 row align-items-center shadow  p-5 mb-4 bg-white rounded">
            <div class="col-md-4 col-12 text-primary text-md-left text-center">
                <h3>
                    Create tests
                </h3>
            </div>
            <div class="col-md-8 col-12 text-md-left text-center">
                <h5>
                    Seamlessly create any test your heart desires. Our test creator allows to dynamically
                    create diverse tests to fit any needs.
                </h5>
            </div>
        </div>
        <div class="h-25 row align-items-center shadow p-5 mb-4 bg-white rounded">
            <div class="col-md-4 col-12 text-primary text-md-left text-center">
                <h3>
                    Test your knowledge
                </h3>
            </div>
            <div class="col-md-8 col-12 text-md-left text-center">
                <h5>
                    Use database of our tests to evaluate your knowledge on any subject you like. 
                    Find out what you need to leard in order to master new skills
                </h5>
            </div>
        </div>
        <div class="h-25 row align-items-center shadow p-5 mb-4 bg-white rounded">
            <div class="col-md-4 col-12 text-primary text-md-left text-center">
                <h3>
                    Test your students
                </h3>
            </div>
            <div class="col-md-8 col-12 text-md-left text-center">
                <h5>
                    Use our tests to easily create tests for your student. 
                    Online tests save time, money and make cheating much harder.
                </h5>
            </div>
        </div>
        <div class="h-25 row align-items-center shadow  p-5 mb-4 bg-white rounded">
            <div class="col-md-4 col-12 text-primary text-md-left text-center">
                <h3>
                    View statistics
                </h3>
            </div>
            <div class="col-md-8 col-12 text-md-left text-center">
                <h5>
                    View statistics for every test your passed or your overall achievments.
                    You can always be informed on how good you are performing.
                </h5>
            </div>
        </div>
    </div>
</div>
