@page
@model TestOk.CreateTestModel
@{
    ViewData["Title"] = "CreateTest";
}

<h1>Create Test</h1>
<form method="post">
    Subject: 
    <input type="text" name="subject"/>
    Minimum % to pass test:
    <input type="number" max="100" min="0" name="successPercentage"/>
    Teacher:
    <select asp-items="Model.Teachers" name="teacherId"></select>
    Group:
    <select asp-items="Model.Groups" name="groupId"></select>
    Test Date:
    <input type="datetime" name="date"/>
    <input type="submit"/>
</form>

