
@{
    ViewData["Title"] = "Index";
}

<div class="form-group">

    <h5 class="text-danger">Here will be displayed your score for certain test</h5>
    <div class="w-100">
        <h3 class="text-primary">83</h3>
        <h3 class="text">83</h3>

    </div>
    <h3 id="aaa" class="text-center">83</h3>
    <h5 class="text-info">Here will be displayed your score for certain test</h5>
    <h5 class="text-success">Here will be displayed your score for certain test</h5>
    <h5 class="">Here will be displayed your score for certain test</h5>
     
</div>

<div>

    <h5>Here will be displayed average score </h5>
    <h3>83</h3>
</div>
