
@{
    ViewData["Title"] = "Login";
}

@model TestOk.Models.LoginViewModel

<h2>Login</h2>
<form method="post" asp-controller="Account" asp-action="Login"
            asp-route-returnUrl="@Model.ReturnUrl">
    <div class="col-md-4 col-sm-12">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label class="text-info label-description" asp-for="Email"></label><br />
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label class="text-info label-description" asp-for="Password"></label><br />
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <div class="form-check">
                <input class="form-check-input" asp-for="RememberMe" />
                <label class="form-check-label" asp-for="RememberMe"></label>
            </div>
        </div>
        <br />
        <div>
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>
</form>