
@{
    ViewData["Title"] = "Register";
}

@model TestOk.Models.RegisterViewModel

<h2>Register</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="col-md-4 col-sm-12">

        <div>
            <label class="text-info label-desction" asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label class="text-info label-description" asp-for="Surname"></label><br />
            <input class="form-control" asp-for="Surname" />
            <span asp-validation-for="Surname"></span>
        </div>
        <div>
            <label class="text-info label-description" asp-for="Faculty"></label><br />
            <input class="form-control" asp-for="Faculty" />
            <span asp-validation-for="Faculty"></span>
        </div>

        <div>
            <label class="text-info label-description" asp-for="Email"></label><br />
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label class="text-info label-description" asp-for="Password"></label><br />
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label class="text-info label-description" asp-for="PasswordConfirm"></label><br />
            <input class="form-control" asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <label class="text-info label-description" asp-for="Role"></label><br />
            <input type="radio" asp-for="Role" value=@RolesEnum.Student />Student <br />
            <input type="radio" asp-for="Role" value=@RolesEnum.Teacher />Teacher
        </div>
        <div id="additionalStudentInfo" hidden>
            <div>
                <label class="text-info label-description" asp-for="Group"></label><br />
                <input class="form-control" asp-for="Group" />
                <span asp-validation-for="Group"></span>
            </div>
            <div>
                <label class="text-info label-description" asp-for="GradebookNumber"></label><br />
                <input class="form-control" asp-for="GradebookNumber" />
                <span asp-validation-for="GradebookNumber"></span>
            </div>
        </div>
        <br />
        <div>
            <button class="btn btn-primary" type="submit">Register</button>
        </div>

    </div>
</form>

<script>
    $('input[name="Role"]').on("change", function () {
        if (document.querySelector('input[name="Role"]:checked').value == "Student") {
            $("#additionalStudentInfo").removeAttr("hidden");
        }
        else {
            $("#additionalStudentInfo").attr("hidden", "hidden");
        }
    });

</script>