@model DataAccess.DTO.TestDto

@{
    ViewData["Title"] = "Create";
}

@using (@Html.BeginForm("Create", "Test", FormMethod.Post))
    {
	<div class="row">
		<div class="col-md-4">
			<h2>New Test</h2>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="MaxGrade" class="control-label"></label>
				<input asp-for="MaxGrade" class="form-control" />
				<span asp-validation-for="MaxGrade" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Subject" class="control-label"></label>
				<input asp-for="Subject" class="form-control" />
				<span asp-validation-for="Subject" class="text-danger"></span>
			</div>
	        <div class="form-group">
		        <label asp-for="MinimumSuccessPercentage" class="control-label"></label>
			    <input asp-for="MinimumSuccessPercentage" class="form-control" />
				<span asp-validation-for="MinimumSuccessPercentage" class="text-danger"></span>
			</div>
			<div>
				<button id="submit" class="btn btn-primary">Save</button>
				<button type="reset" class="btn btn-danger">Clear</button>
			</div>
		</div>

		<div class="col-md-8">
			<div class="text-center">
				<h2>Quizes</h2>
				<ul id="quizes" class="list-group">
                        @foreach (var quiz in Model.Quizes) { Html.RenderPartial("../Quiz/Create", quiz); }
				</ul>
			</div>
			<div class="text-center mt-4">
				<button id="addQuiz" type="button" class="btn btn-warning">Add Quiz</button>
			</div>
		</div>

	</div>
}

@section Scripts
{
    <script>
        $("#submit").on("click", function (event) {
            var $form = $("form");

            $form.unbind();
            $form.data("validator", null);

            $.validator.unobtrusive.parse(document);

            $form.validate().form();

            return $form.validate().valid();
        });
    </script>


	<script>
		$("#addQuiz").on("click", function (event) {
			event.preventDefault();
			
			$.ajax({
                async: false,
                url: '/Quiz/Create',
				success: function (partialView) {
					$('#quizes').append(partialView);
				}
			})
			
			return false;
		});
	</script>

	<script>

		$(document).on("click", "button.addQuizOption", function (event) {
			
			var quizOptions = $(this).closest('.quizRow').find('#quizOptions');
			
			$.ajax({
                async: false,
                url: '/QuizOption/Create',
				success: function (partialView) {
					quizOptions.append(partialView);
				}
			})	
			
			return false;
		});
	</script>

	<script>
		$(document).on("click", "button.deleteQuiz", function(){
			$(this).parent(':first').remove();
			return false;
		});
	</script>

	<script>
		$(document).on("click", "button.deleteQuizOption", function(){
			$(this).parent().parent().remove();
			return false;
		});
	</script>

	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}