@model DataAccess.DTO.TestDto

@{
    ViewData["Title"] = "Create";
}

@using (@Html.BeginForm("Create", "Test", FormMethod.Post))
    {
	<div class="row">
		<div class="col-md-4">
			<h2>New Test</h2>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="MaxGrade" class="control-label"></label>
				<input asp-for="MaxGrade" class="form-control" />
				<span asp-validation-for="MaxGrade" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Subject" class="control-label"></label>
				<input asp-for="Subject" class="form-control" />
				<span asp-validation-for="Subject" class="text-danger"></span>
			</div>
	        <div class="form-group">
		        <label asp-for="MinimumSuccessPercentage" class="control-label"></label>
			    <input asp-for="MinimumSuccessPercentage" class="form-control" />
				<span asp-validation-for="MinimumSuccessPercentage" class="text-danger"></span>
			</div>
			<div>
				<button id="submit" class="btn btn-primary">Save</button>
				<button type="reset" class="btn btn-danger">Clear</button>
			</div>
		</div>

		<div class="col-md-8">
			<div class="text-center">
				<h2>Quizes</h2>
                <ul id="quizes" class="list-group">
                    @for (int i = 0; i < Model.Quizes.Count; ++i)
                    {
                        await Html.RenderPartialAsync("../Quiz/Create", Model.Quizes[i]);
                    }
                    </ul>
			</div>
			<div class="text-center mt-4">
				<button id="addQuiz" type="button" class="btn btn-warning">Add Quiz</button>
			</div>
		</div>

	</div>
}

@section Scripts
{
	<script>
		$("#addQuiz").on("click", function (event) {
			event.preventDefault();
			
			$.ajax({
                async: false,
                url: '/Quiz/Create',
				success: function (partialView) {
					$('#quizes').append(partialView);
				}
			})
			
			return false;
		});
	</script>

    <script>

		$(document).on("click", "button.addQuizOption", function (event) {
			console.log($(this)[0])
			var quizprefix = $(this)[0].getAttribute("quizprefix");
            var options = $(this).closest('.quizRow').find('#options');

            $.ajax({
                async: false,
                url: '/QuizOption/Create',
                data: {
                    prefix: quizprefix
                },
                success: function (partialView) {
                    options.append(partialView);
                }
            })

            return false;
        });
    </script>

	<script>
		$(document).on("click", "button.deleteQuiz", function(){
			$(this).parent(':first').remove();
			return false;
		});
	</script>

	<script>
		$(document).on("click", "button.deleteQuizOption", function(){
			$(this).parent().parent().remove();
			return false;
		});
	</script>

	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}